*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    font-family: 'Lato', sans-serif;
}

html,body{
    width: 100%;
    height: 100%;
    position: relative;
    /* background-color: #eeeeee; */
    
}


#full_menu{
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #ffffff94;
    box-shadow: inset 0 0 2000px rgba(253, 253, 253, 0.863);
    backdrop-filter: blur(10px);
    z-index: 9999999;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}

#full_menu>i{
    font-size: 25px;
    position: absolute;
    top: 4%;
    right: 4%;

}

.menulinks{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    align-items: center;

}

.menulinks a{
    font-size: 25px;
    color: #000000;
    text-decoration: none;
    margin-top: 20px;
    transition: cubic-bezier(0.19, 1, 0.22, 1) 1s;

}



nav{
    position: fixed;
    top: 0;
    left:0;
    z-index: 99;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px 30px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);

}

nav h4{
    font-size: 45px;
    font-weight: 500;
    margin: 0 auto;
    /* background-color: red; */
    font-family: 'Cormorant', serif;
    

}

nav>a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

nav .links{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* margin-left: -500px; */
}

nav .links a{
    font-size: 18px;
    text-decoration: none;
    color: #050505;
    margin-left: 20px;
    font-weight: 400;
    

}

nav #menu {
    display: flex;
    align-items: center;
}

#img_carousel{
    position: fixed;
    z-index: -111;
    height: 100vh;
    padding: 0 30px;
}


#floating-content{
    position: fixed;
    z-index: 2;
    left: 50%;
    top: 70%;
    transform: translate(-50%,-50%);
    font-family: 'Cormorant', serif;
    text-align: center;
    padding: 20px 30px;
    border-radius: 5px;
    background-color: #ffffff38;
    box-shadow: inset 0 0 2000px rgba(253, 253, 253, 0.459);
    backdrop-filter: blur(3px);

}

#floating-content h2{
    font-size: 50px;
    font-family: 'Cormorant', serif;
    color: #ffffff !important;
    font-weight: 900;

}

#floating-content button{
    padding: 5px 20px;
    font-weight: 600;
    background-color: #ffffff;
    border: none;
    border-radius: 5px;
    color: #070707 !important;
    font-size: 20px;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) .5s;
}

#floating-content button:hover{
    background-color: #ffffff;
    color: #000000;
    cursor: pointer;
}




#container{
    position: absolute;
    z-index: 333333;
    width: 100%;
}


#overlay{
    background-color: transparent;
    width: 100%;
    height: 100vh;
}

#about{
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 100px;

}

#about h3{
    font-family: 'Cormorant', serif;
    font-weight: 800;
    /* background-color: red; */
}

#about span{
    font-weight: 300;
    font-family: 'Cormorant', serif;

}

#about p{
    width: 100%;
    /* background-color: red; */
}

.content{
    /* background-color: yellow; */
    display: inline-block;
    width: 50%;
}

.content h5{
    font-size: 14px;
    /* background-color: red; */
    display: inline-block;
}

.content p{
    font-size: 16px;
    font-family: 'Cormorant', serif;
}

#stories{
    background-color: #eeeeee;
    padding: 80px;
}

#stories h2{
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 3px;
}

.storydiv {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 150px 0;
}

.storydiv .storyft{
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    width: 40%;
    

}

.storydiv .storyft .detail{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.storydiv .storyft img{
    width: 100%;
    height: 50%;
    
    
}

.storydiv .storyft .img{
    position: relative;
    
}

.storydiv .storyft .detail{
    padding: 10px;
    /* margin-top: 20px; */
    font-weight: 300;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}

.storydiv .storyft .detail h3{
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 300;
    margin-top: 8px;
    
}

.storydiv .storyft .detail span{
    color: #c0c0c0;
}

.storydiv .storyft .detail h4{
    font-weight: 400;
    font-size: 15px;
    margin-top: 5px;
}

.storydiv .storyft .detail p{
    font-size: 12px;
    /* margin-top: 10px; */
}

.storydiv .storyft .detail .greenline{
    width: 100px;
    height: 1px;
    background-color: rgb(115, 197, 179);
    margin-top: -5px;
    margin-bottom: 5px;
}

.imgovrlay{
    display: none;
    position: absolute;
    background-color: #ffffffc4;
    z-index: 999;
    width: 100%;
    height: 100%;
    top: 0;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}

.imgovrlay .txt{
   
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: rgb(64, 168, 146);
    font-weight: 500;
}

.storyft:hover .img .imgovrlay{
    display: flex;
    cursor: pointer;
}

.storyft:hover .detail{
    background-color: #D9EDE0;;
    cursor: pointer;
}


#description {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Cormorant', serif;
    margin-bottom: 80px;
    /* padding: 50px; */

}


#description #right{
    width: 50%;
}
#carousel-description{
    width: 100%;
}

#description #left{
    /* background-color: yellow; */
    width: 40%;
    margin-right: 20px;
}

#description #left h5{
    font-family: 'Cormorant', serif !important;
    font-weight: 600;
    font-size: 25px;
    margin-bottom: 30px;

}

#description #left p{
    font-family: 'Cormorant', serif !important;
    font-weight: 500;
    width: 100%;

}

.storydiv video{
    width: 40%;
    height: 50%;
    margin-top: -50px;
}

#footer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-transform: capitalize;
    padding: 70px;
    margin-top: 20px;
    background-color: rgb(255, 255, 255);
}

#footer  h5{
    font-size: 14px;
}

#footer  p{
    width: 40%;
    font-size: 12px;
}




@media(max-width:700px){
    nav h4{
        font-size: 20px;
    }
    
     nav #menubar{
        margin-right: 15px;
    }

    nav i{
        font-size: 10px;
    }

    #img_carousel {
        padding: 0px;
    }

    #img_carousel img{
        min-width: 100vh;
        overflow-x: hidden;
        height: 100vh;
        height: 100vh;
        
        
    }

    .caraousel-item img{
        min-width: 100vh;
        overflow-x: hidden;
        height: 100vh;
    }
    
 #floating-content{
        top: 60%;
        width: 70%;
        padding: 15px 0px;
    }


  #floating-content h2 {
        font-size: 45px;
        font-family: 'Cormorant', serif;
        color: #ffffff;
        font-weight: 600;
    }

    #floating-content span{
        font-weight: 800;
        
    }


    #floating-content button {
        font-size: 12px;
        font-family: 'Cormorant', serif;
        padding: 5px 15px;
    }

    #about{
        padding: 20px 30px;
    }

    #about h3{
        font-size: 15px;
    }

    .content h5{
        font-size: 10px;
    }

    .content p{
        font-size: 12px;
    }

    #stories{
        padding: 30px;
    }

    .storydiv{
        margin: 50px 0;
        flex-direction: column;
    }

    .storydiv .storyft{
        width: 100%;
        margin: 20px 0;
    }

    .img{
        width: 100%;

    }

    .detail{
        width: 100%;
    }

    #description{
        flex-direction: column;
        align-items: center;
    }

    #description #left {
        width: 100%;
        margin-left: 10px;
    }

    #description #left h5{
        font-size: 15px;
    }

    #description #left p{
        font-size: 12px;
        line-height: 15px;
    }

    #description #right{
        width: 100%;
    }

   .storydiv video{
        margin-top: 50px;
        width: 100%;
    }

    #footer{
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        padding: 10px;
    }

    #footer p{
        width: 100%;
    }

    .foots{
        margin-top: 20px;
    }
    .centerimg{
        background-position: right;
    }

    /* #container{
        position: static;
    } */
}
